<%= link_to "Back to all users", admin_users_path %>

<h2> CHECK, CHECK, CHECK IT OUT! </h2>


  <%= @users.full_name %> | <%= @users.email %> </p>
<% if @users.admin == true %>
    <p> <%= @users.firstname %> is an Admin </p>
<% else %>
    <p> <%= @users.firstname %> is a regular user </p>
<% end %>
  <h4> They were created on: <%= @users.created_at %> </h4>
  <h4> And last updated on: <%= @users.updated_at %> </h4>

  <%= link_to "edit user", edit_admin_user_path %>