<%= link_to "Back to all users", admin_users_path %>

<h2> <%= @users.full_name %>  </h2>


  <p> Email: <%= @users.email %> </p>
<% if @users.admin == true %>
    <p> They are an Admin User </p>
<% else %>
    <p> They are a Regular User </p>
<% end %>
  <p> They were created on: <%= @users.created_at %> </p>
  <p> And last updated on: <%= @users.updated_at %> </p>

  <%= link_to "Edit User", edit_admin_user_path %> | 
  <%= link_to "Delete User", @user, method: :delete %> 